rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{document} {
      allow create: if request.auth.uid == document;
      allow read: if request.auth.uid == document;
      allow write: if request.auth.uid == document;
      allow delete: if false;
    }

    match /quranVersesFavorite/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if request.auth.uid == resource.data.user;
    }

    match /quranVersesMemorize/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if request.auth.uid == resource.data.user;
    }

    match /quranPerformance/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if request.auth.uid == resource.data.user;
    }

    match /prayerPerformance/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if false;
    }

    match /quranVerseOfTheDay/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if request.auth.uid == resource.data.user;
    }

    match /quranLastReadVerse/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if request.auth.uid == resource.data.user;
    }

    match /quranLastReadPage/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if request.auth.uid == resource.data.user;
    }

    match /friendRequestNotification/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /ff_user_push_notifications/{id} {
      allow read, update, delete: if false;
      allow create: if /databases/$(database)/documents/users/$(request.auth.uid) == request.resource.data.sender;
    }
  }
}
